:root{
    --primary-color: rgba(113, 99, 186, 255);
    --primary-color2: rgb(156, 142, 227);
    --active-color: #e0e0e058;
    --wrapper-color: #fff;
    --main-background-color: #ebe9e9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: var(--wrapper-color);
    overflow: hidden;
    transition: all 0.5s linear;
    background: var(--primary-color);
}

.sidebar:hover{
    width: 290px;
    transition: all 0.3s ease-in-out;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
    margin-top: 7rem;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active{
    background: var(--active-color);
}

.menu a{
    color: var(--wrapper-color);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    white-space: nowrap;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(-50px);
}

.page{
    display: none;
}

.active-page{
    display: block;
}


/*CSS Page trang chủ*/
#main-body{
    width: 100%;
}

.main-content{
    position: relative;
    background: var(--main-background-color);
    width: 100%;
    padding: 1rem;
}

.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--wrapper-color);
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title{
    color: var(--primary-color);
}

.card-container{
    background: var(--wrapper-color);
    padding: 2rem;
    border-radius: 10px;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.main-title{
    color: var(--primary-color);
    padding-bottom: 10px;
    font-size: 15px;
}

.payment-card{
    background: rgba(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment-card:hover{
    transform: translateY(-5px);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 14px;
    font-weight: 200;
}

.amount-value{
    font-size: 20px;
    font-weight: 600;
}

.icon{
    color: var(--wrapper-color);
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}

.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
}

.light-red{
    background: rgb(251, 233, 233);
}

.light-purple{
    background: rgb(254, 226, 254);
}

.light-green{
    background: rgb(235, 254, 235);
}

.light-blue{
    background: rgb(236, 236, 254);
}

.dark-red{
    background: red;
}

.dark-purple{
    background: purple;
}

.dark-green{
    background: green;
}

.dark-blue{
    background: blue;
}

.pending{
    font-weight: 500;
    color: blue;
}

.cancelled{
    font-weight: 500;
    color: red;
}

.success{
    font-weight: 500;
    color: green;
}

.table-wrapper{
    background-color: var(--wrapper-color);
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: var(--primary-color);
}

th{
    padding: 15px;
    text-align: left;
    color: var(--wrapper-color);
    font-weight: 500;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: var(--wrapper-color);
}

.icon-done{
    color: yellow;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    background: var(--primary-color2);
    margin: 0 1rem 0 0;
}

.icon-delete{
    color: rgb(224, 41, 41);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    background: var(--primary-color2);
}

.icon-change{
    color: yellow;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    background: var(--primary-color2);
    margin: 0 1rem 0 0;
}

.icon-add{
    color: green;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    background: var(--wrapper-color);
    margin: 0 1rem 0 0;
}

.icon-done:hover,
.icon-delete:hover,
.icon-add:hover,
.icon-change:hover{
    opacity: 0.8;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.pagination .page-current{
    background: var(--primary-color);
    color: var(--wrapper-color);
}

.pagination .next,
.pagination .prev{
    min-width: 60px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    color: #000;
    background-color: var(--wrapper-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.pagination a:hover {
    background: var(--primary-color);
    color: var(--wrapper-color);
}

.trend-wrapper{
    width: 100%;
    background-color: var(--wrapper-color);
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.trend-wrapper .card-book{
    flex-wrap: wrap;
    gap: 4rem;
    display: flex;
}

.trend-wrapper .card-book .book-container{
    padding: 1rem;
    border-radius: 10px;
    max-width: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.book-container img{
    width: 200px;
}

.book-container .book-info{
    max-width: 200px;
    margin-top: 1rem;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 500;
}

.book-info .book-name{
    color: var(--primary-color);
}

.book-info .book-price{
    color: green;
}

.book-info .quantity-buy{
    color: blue;
}

.book-info .income{
    color: blue;
}

.book-container:hover{
    transform: translateY(-5px);
}

/*CSS trang quản lý sách */
.table-wrapper .table-header{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.table-header .main-title{
    margin-top: 10px;
}

.table-header .add-book{
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    padding-right: 20px;
    border: solid 1px var(--primary-color);
    transform: translateY(-8px);
}

.table-header .add-book:hover{
    opacity: 0.8;
    cursor: pointer;
}

.table-container img{
    max-width: 50px;
}

.book-search .book-text-search{
    position: relative;
    border: solid 1px #ccc;
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 44px;
    border-radius: 10px;
    transform: translateX(250px);
}

.book-search i{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    float: right;
    padding-top: 12px;
    transform: translate(210px);
}

.book-description{
    max-width: 3rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

textarea{
    resize: none;
    display: block;
}

#book-description{
    width: 100%;
}

/*Modal thêm sách*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: var(--wrapper-color);
    width: 70%;
    max-width: calc(100%-32px);
    height: fit-content;
    min-height: 80%;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

header.modal-header{
    background-color: var(--primary-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--wrapper-color);
}

header.modal-header-books{
    height: 100px;
    font-size: 28px;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    color: var(--wrapper-color);
    padding: 16px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover{
    opacity: 1;
}

.modal-body{
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-block: auto;
    
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 14px;
}

.modal-label :is(input, textarea){
    margin-top: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 14px;
}

.action-form{
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.submit-book{
    background-color: green;
    border: none;
    color: #fff;
    width: 12%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.submit-book:hover{
    opacity: 0.8;
}

.cancel-book{
    background-color: red;
    border: none;
    color: #fff;
    width: 12%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.cancel-book:hover{
    opacity: 0.8;
}

.modal.open{
    display: flex;
}

.change-quantity i:hover{
    color: var(--wrapper-color);
    background-color: var(--primary-color);
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*CSS modal delete*/
.modal-delete{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-delete-container{
    display: flex;
    justify-content: center;
    background-color: var(--wrapper-color);
    width: 500px;
    max-width: calc(100%-32px);
    height: 150px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
    border-radius: 10px;
}

.modal-delete-body{
    padding: 16px; 
}

.modal-delete-body p{
    margin-top: 16px;
    color: #000;
}

.btn-delete-choose{
    display: flex;
    justify-content: space-around;
}

.btn-yes{
    margin: 40px 10px;
    padding: 8px 32px;
    border-radius: 10px;
    border: solid 1px var(--wrapper-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.btn-no{
    margin: 40px 10px;
    padding: 8px 32px;
    border-radius: 10px;
    border: solid 1px var(--primary-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-yes:hover, .btn-no:hover{
    opacity: 0.8;
}

.btn-delete-choose .btn-yes a{
    color: var(--wrapper-color);
}

.btn-delete-choose .btn-no a{
    color: var(--primary-color);
}

.modal-delete-close{
    position: absolute;
    right: 0;
    color: var(--primary-color);
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
}

/*CSS trang quản lý khách hàng*/
.combobox-customer select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    transform: translateX(220px);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--wrapper-color);
    color: var(--primary-color);
}

.combobox-customer select option:hover {
    background-color: var(--primary-color); 
}

.table-header-customer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.customer-search .customer-text-search{
    position: relative;
    border: solid 1px #ccc;
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 44px;
    border-radius: 10px;
}

.customer-search i{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    float: right;
    padding-top: 12px;
    transform: translateX(-40px);
}

input[type="date"] {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

.modal-container-customer{
    min-height: 50%;
}

.modal-input-customer{
    margin-bottom: 18px;
}

/* CSS form thongke */
.combobox-select-year{
    margin-top: 1rem;
    text-align: right;
}

.combobox-select-year select{
    margin: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--wrapper-color);
    color: var(--primary-color);
}

.income-statistical{
    height: 500px;
}

.income-statistical .chart-container,
.books-statistical .chart-container {
    margin-top: 20px;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.books-statistical{
    height: 500px;
}

.chart-container.chart-container-pie{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: left;
}

.modal-delete.open-form-delete{
    display: flex;
}

/*Message*/
#toast {
position: fixed;
top: 32px;
right: 32px;
z-index: 999999;
}

.toast {
display: flex;
align-items: center;
background-color: var(--wrapper-color);
border-radius: 2px;
padding: 20px 0;
min-width: 400px;
max-width: 450px;
border-left: 4px solid;
box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
transition: all linear 0.3s;
}

@keyframes slideInLeft {
from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes fadeOut {
to {
    opacity: 0;
}
}

.toast-success {
border-color: #47d864;
}

.toast-success .toast-icon {
color: #47d864;
}

.toast-info {
border-color: #2f86eb;
}

.toast-info .toast-icon {
color: #2f86eb;
}

.toast-warning {
border-color: #ffc021;
}

.toast-warning .toast-icon {
color: #ffc021;
}

.toast-error {
border-color: #ff623d;
}

.toast-error .toast-icon {
color: #ff623d;
}

.toast + .toast {
margin-top: 24px;
}

.toast-icon {
font-size: 24px;
}

.toast-icon,
.toast-close {
padding: 0 16px;
}

.toast-body {
flex-grow: 1;
}

.toast-title {
font-size: 16px;
font-weight: 600;
color: #333;
}

.toast-msg {
font-size: 14px;
color: #888;
margin-top: 6px;
line-height: 1.5;
}

.toast-close {
font-size: 20px;
color: rgba(0, 0, 0, 0.3);
cursor: pointer;
}